// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
}

.hidden {
	display: none !important;
}

.button {
	color: white;
	background-color: rgba(0, 0, 0, 1);
}

.button a {
	color: white;
}

.hlink-reset {
	color: inherit;
}

.hlink-reset:hover {
	color: inherit;
}