// Place all the styles related to the songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field.hidden {
	display: none;
}

.sc-track {
	font-size: .5em;
	transition: transform 1s;
}

.sc-track:hover {
	transform: translate(10px, 0px);
	color: blue;
}