
<div class="playlist-list">
    <div class="playlist-list-title"> playlists </div>
    <% @playlists.each do |playlist| %>
    <div class="playlist">
        <!-- <td><%= playlist.title %></td> -->

        <%= link_to "", @playlist, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"destroy hidden" %>
        <div class="title"> <%= link_to playlist.title, edit_playlist_path(playlist), :class=>"hlink-reset"%> </div>

    </div>
    <% end %>
    <div class= "playlists-methods">
      <%= link_to "+", new_playlist_path, :class => "button add" %>
      <div class="button remove">-</div>
    </div>
</div>